@Styles.Render("~/css/WebIM/Chat")
@Styles.Render("~/css/webimui")
@Scripts.Render("~/js/WebIM/Chat")
<div id="Chat-MoveFrom" class="MoveFrom">
<div id="Chat-wrap" class="pull-left" style="display:none;" >
    <div id="Chat-friendbox" class="pull-left">
    </div>
    <div id="Chat-box" class="pull-left">
        <div id="Chat-header" class="pull-left">
            <div id="Chat-header-movefrom" style="width:100%;height:100%">
                <img class="img-circle pull-left" src="~/Img/WebIM/Manager_UserImg_Default.jpg" width="54" height="54" style="margin-left:10px;"/>
                <div class="Chat-user-card-name pull-left">
                    <span>admin</span>
                    <p style="line-height: 5px;font-size: 16px;color: gray;margin-top: -10px;">职务</p>
                </div>
                <a class="layui-layer-min" href="javascript:;"><cite></cite></a>
                <a class="layui-layer-ico layui-layer-max" href="javascript:;"></a>
                <button id="CloseAll" type="button" class="close pull-right" aria-label="Close">                    
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div id="Chat-group-tools" style="display:none;">
                <span class="Chat-group-member-btn glyphicon glyphicon-user"></span>
                <span class="Chat-group-menu-btn glyphicon glyphicon-th"></span>
                <span class="Chat-group-settings-btn glyphicon glyphicon-cog"></span>
            </div>
        </div>
        <div id="Chat-messagebox" class="pull-left">
        </div>
        <div id="Chat-toolbox" class="pull-left">
            <span class="webim-emoji-icon font smaller">J</span>
            <span class="webim-picture-icon font smaller">K</span>
            <span class="webim-audio-icon font smaller">e</span>
            <span class="webim-file-icon font smaller">S</span>
            <div class="Chat-face-box" style="display: none;">
                <ul>
                    <li key="[):]" class="webim-emoji-item"><img src="/img/faces/ee_1.png"></li>
                    <li key="[:D]" class="webim-emoji-item"><img src="/img/faces/ee_2.png"></li>
                    <li key="[;)]" class="webim-emoji-item"><img src="/img/faces/ee_3.png"></li>
                    <li key="[:-o]" class="webim-emoji-item"><img src="/img/faces/ee_4.png"></li>
                    <li key="[:p]" class="webim-emoji-item"><img src="/img/faces/ee_5.png"></li>
                    <li key="[(H)]" class="webim-emoji-item"><img src="/img/faces/ee_6.png"></li>
                    <li key="[:@Html.Raw("@")]" class="webim-emoji-item "><img src="/img/faces/ee_7.png"></li>
                    <li key="[:s]" class="webim-emoji-item"><img src="/img/faces/ee_8.png"></li>
                    <li key="[:$]" class="webim-emoji-item"><img src="/img/faces/ee_9.png"></li>
                    <li key="[:(]" class="webim-emoji-item"><img src="/img/faces/ee_10.png"></li>
                    <li key="[:'(]" class="webim-emoji-item"><img src="/img/faces/ee_11.png"></li>
                    <li key="[:|]" class="webim-emoji-item"><img src="/img/faces/ee_18.png"></li>
                    <li key="[(a)]" class="webim-emoji-item"><img src="/img/faces/ee_13.png"></li>
                    <li key="[8o|]" class="webim-emoji-item"><img src="/img/faces/ee_14.png"></li>
                    <li key="[8-|]" class="webim-emoji-item"><img src="/img/faces/ee_15.png"></li>
                    <li key="[+o(]" class="webim-emoji-item"><img src="/img/faces/ee_16.png"></li>
                    <li key="[<o)]" class="webim-emoji-item"><img src="/img/faces/ee_12.png"></li>
                    <li key="[|-)]" class="webim-emoji-item"><img src="/img/faces/ee_17.png"></li>
                    <li key="[*-)]" class="webim-emoji-item"><img src="/img/faces/ee_19.png"></li>
                    <li key="[:-#]" class="webim-emoji-item"><img src="/img/faces/ee_20.png"></li>
                    <li key="[:-*]" class="webim-emoji-item"><img src="/img/faces/ee_22.png"></li>
                    <li key="[^o)]" class="webim-emoji-item"><img src="/img/faces/ee_21.png"></li>
                    <li key="[8-)]" class="webim-emoji-item"><img src="/img/faces/ee_23.png"></li>
                    <li key="[(|)]" class="webim-emoji-item"><img src="/img/faces/ee_24.png"></li>
                    <li key="[(u)]" class="webim-emoji-item"><img src="/img/faces/ee_25.png"></li>
                    <li key="[(S)]" class="webim-emoji-item"><img src="/img/faces/ee_26.png"></li>
                    <li key="[(*)]" class="webim-emoji-item"><img src="/img/faces/ee_27.png"></li>
                    <li key="[(#)]" class="webim-emoji-item"><img src="/img/faces/ee_28.png"></li>
                    <li key="[(R)]" class="webim-emoji-item"><img src="/img/faces/ee_29.png"></li>
                    <li key="[({)]" class="webim-emoji-item"><img src="/img/faces/ee_30.png"></li>
                    <li key="[(})]" class="webim-emoji-item"><img src="/img/faces/ee_31.png"></li>
                    <li key="[(k)]" class="webim-emoji-item"><img src="/img/faces/ee_32.png"></li>
                    <li key="[(F)]" class="webim-emoji-item"><img src="/img/faces/ee_33.png"></li>
                    <li key="[(W)]" class="webim-emoji-item"><img src="/img/faces/ee_34.png"></li>
                    <li key="[(D)]" class="webim-emoji-item"><img src="/img/faces/ee_35.png"></li>
                </ul>
            </div>
        </div>
        
        <div id="Chat-sendmessagebox" class="pull-left">
            <div id="Chat-sendmessage-msg" class="pull-left" contenteditable="true"></div>
            <button id="Chat-btn-send" class="pull-right btn btn-info" style="padding:3px 16px;font-size:small;margin-right:5px;margin-top:1px;">发送</button>
            <button class="pull-right btn btn-info" style="padding:3px 16px;font-size:small;margin-right:5px;margin-top:1px;">关闭</button>
        </div>
        <div id="Chat-group-tools-box" style="display:none;">
            <ul id="Chat-group-member-box" style="display:none;"></ul>
            <ul id="Chat-group-menu-box" style="display:none;"></ul>
            <ul id="Chat-group-setting-box" style="display:none;"></ul>
        </div>
    </div>
</div>
</div>